.travel{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(228, 227, 227);
    height: 100px;
}
.image{
     height: auto;
     
}
.nab{
    color:black;
    font-size:large;
    text-decoration: none;
    margin-right:30px;

}
