 
 .main{
     background-color: rgb(250, 248, 248);
 }
 .text{
     text-align: justify;
 }
 /* .review{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
